body{
    min-height: 100vh;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #02E2FF 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #02E2FF 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #02E2FF 100%);
}

#weatherDataForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 200px;
    gap: 5px;
    margin-top: 50px;
}

.weatherDisplay{
    background-color: rgba(0, 0, 128, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    width: 33vw;
    height: 40vh;
    margin-top: 30px;
    padding: 30px;
    border: solid black 3px;
    border-radius: 30px;
    overflow: hidden;
    row-gap: 5px;
}

.weatherHeader{
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid black 2px;
}

.locationHeader{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}

.day{
    display: flex;
    justify-content: center;
    border-bottom: solid black 1px;
}

.weatherGif{
    display: flex;
    justify-self: center;
    height: 200px;
    margin-top: 5px;
}

.currentConditions{
    display: flex;
    justify-self: center;
    margin-top: 50px;
}
