body{
    min-height: 100vh;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #02E2FF 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #02E2FF 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #02E2FF 100%);
}

#weatherDataForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 200px;
    gap: 5px;
    margin-top: 50px;
}

.weatherDisplay{
    background-color: rgba(0, 0, 128, 0.637);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 33vw;
    height: 50vh;
    margin-top: 50px;
    border: solid black 3px;
    border-radius: 30px;
}